:root {
/* Colors */
--red: #c8102e;
--red1: #f4cfd5;
--red2: #e48897;
--red3: #d9586d;
--red4: #8c0b20;
--red5: #640817;
--red6: #280309;
--yellow: #ffcd00;
--yellow1: #fff5cc;
--yellow2: #ffe680;
--yellow3: #ffdc4d;
--yellow4: #b39000;
--yellow5: #806700;
--yellow6: #332900;
--black: #2d2926;
--black1: #ffffff;
--black2: #c0bfbe;
--black3: #6c6967;
--black4: #1f1d1b;
--black5: #0d0c0b;
--black6: #000000;
/* Typography */
--text-color: var(--black);
--accent-color1: var(--red);
--accent-color2: var(--red5)
}

[data-theme='dark'] {
	/* typography */
	--text-color: var(--black1);
	--accent-color2: var(--red3);
}

body {
	margin: 0;

	a {
		text-decoration: none;
		color: var(--accent-color1);

		&:hover {
			color: var(--accent-color2);
		}
	}
}

