.hero {
	background: url('/static/images/atomium.webp') no-repeat top center;
	height: 500px;
	margin: 0;

	.content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		h1 {
			font-size: 3rem;
			margin-bottom: 1rem;
			color: #fff;
			text-shadow: 2px 2px 4px #000000;
		}
		p {
			font-size: 1.5rem;
			color: #fff;
			text-shadow: 2px 2px 4px #000000;
		}
	}
}
