.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border-bottom: 1px solid #ccc;

	.links {
		display: flex;
		gap: 5px;
		align-items: center;
		justify-content: center;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	svg {
		width: 25px;
		height: 25px;
		color: var(--red);

		transition: all 0.3s ease-in-out;
		&:hover {
			transform: scale(1.2);
		}
	}
}
